.post {
    width: 94%;
    margin: 5% 3% 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.spinner-container {
    width: 100%;
}

.spinner {
    width: 20%;
    margin-right: 40%;
    margin-left: 40%;
}
