.groupList-page {
  .profile_info {
    margin: 1.2rem !important;
    font-size: 25px;
  }

  .groups_content {
    background: #131419;
    padding: 2rem !important;
    margin-top: 2.9rem !important;
  }

  .selectedPage {
    background: #aaacaf;
    font-family: Libre Baskerville, serif;
    color: black;
    font-weight: bold;
    border-width: 1px;
    border-color: black;
    margin-right: 3px;
    margin-top: 18px;
    width: 32px;
    height: 32px;
  }

  .page_button {
    background: #282c37;
    font-family: Libre Baskerville, serif;
    color: white;
    border-color: black;
    border-width: 1px;
    margin-right: 3px;
    width: 32px;
    height: 32px;
  }

  .group {
    height: 5.9rem !important;
    margin-bottom: 7.5rem !important;
    text-decoration: none;
  }

  .group-content {
    padding: 1rem !important;
  }
  @import url(https://fonts.googleapis.comcssfamily=Libre+Baskerville&display=swap);

  .group_name {
    margin-top: 1rem !important;
    margin-left: -5rem !important;
    text-decoration: none;
  }

  .title {
    margin-top: -4.3rem !important;
    margin-left: 8rem !important;
    font-size: 1.5rem !important;
    font-family: Libre Baskerville, serif;

    position: absolute;
  }

  .description {
    font-size: 0.9rem !important;
    font-family: Libre Baskerville, serif;
    text-align: justify;
    word-wrap: break-word;
    line-height: 1.4em;
    color: #d9e1e8;
    text-overflow: ellipsis;
  }

  .groupArea1 {
    color: white;
    border-radius: 10px;
    border-color: black;
    background-color: #282c37;
    width: 51.6rem !important;
    height: 12.6rem !important;
    margin-left: -0.8rem !important;
    position: inherit;
  }

  .border_bottom {
    border-bottom: 1px solid gainsboro;
    margin-top: 6.2rem !important;
  }

  .groupArea:hover {
    background: #4d6276;
  }

  .groupImgDiv {
    width: 9%;
    margin-left: 0.5rem !important;
    margin-top: -6.3rem !important;
    position: absolute;
    height: 80px;
    border-radius: 43px;
  }

  .groupImg {
    width: 37%;
  }
}
