.avatar {
  width: 3.5em;
  height: 3.5em;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-reverse {
  width: 3.5em;
  height: 3.5em;
  margin-left: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.message-content {
  background-color: #404559;
  border-radius: 0px 10px 5px 10px;
}

.message-content-reverse {
  background-color: #565d76;
  border-radius: 10px 0px 10px 5px;
}

small {
  font-size: 80%;
  opacity: 0.5;
}
