
.userDiv {
    /*border-left: white 1px solid;*/
    /*border-radius: 18px;*/
    margin-bottom: 10px;
    background-color: #383c47;
    width: 80%;
    margin-right: 6%;
    margin-left: 14%;
    padding: 5px;

}

.UserName {
    color: #9aadc7;
}

.userText {
    margin-left: 15px;
}

.user-is-online {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-sizing: border-box;
    /* line-height: 22px; */
    margin-top: 10px;
    border: 2px solid rgb(0, 150, 136);
}

.user-is-online .user-is-online__online {
    background: rgb(0, 150, 136);
}

.user-distance {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}

/*.commentEditDelete {*/
/*    background-color: transparent;*/
/*    border: none;*/
/*    color: #9aadc7;*/
/*    white-space: nowrap*/
/*}*/

/*.commentEditDelete:hover {*/
/*    color: white;*/
/*}*/

/*.pb-cmnt-textarea {*/
/*    border-radius: 18px;*/
/*    resize: none;*/
/*    padding: 10px;*/
/*    height: 40px;*/
/*    width: 100%;*/
/*    border: 1px solid #F2F2F2;*/
/*}*/

.icon-profile img {
    /*border-radius: 50%;*/
    border: 1px solid #282c37;
    object-fit: cover;
    height: 60px;
    width: 60px;
    display: block;
    position: relative;
    right: 25px;
}

/*.textareaEditComment {*/
/*    resize: none;*/
/*    height: 40px;*/
/*    width: 100%;*/
/*    background-color: transparent;*/
/*    border: none;*/
/*    color: white;*/
/*    padding-left: 15px;*/
/*    border-bottom: white 2px solid;*/
/*    font-size: 16px;*/
/*}*/

/*.textareaEditComment:focus {*/
/*    outline-width: 0;*/
/*    border-bottom: #375a7f 2px solid;*/
/*}*/

/*.editCommentSaveButton {*/
/*    margin-top: 10px;*/
/*}*/

.searchUserButton{
    margin-top: 15%;
    background-color: transparent;
    border: white 1px solid;
    color: #1da1f2;
    color: white;
    border-radius: 25px;
}

.searchUserButton:hover {
    border: white 1px solid;
    background-color: #3f4550;
}

