.empty-list {
    background-image: url(/img/asteroids.png);
    height: 500px;
    padding-top: 60px;
    background-size: contain;
}

.empty-list .empty-list__text {

}
.empty-list__text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background: rgb(40, 44, 55);
    width: fit-content;
    margin: auto;
    padding: 15px 38px;
    border-radius: 40px;
    line-height: 30px;
}

.empty-list__photo {
    overflow: hidden;
}

.empty-list__photo-img{
    width: 100%;
}