
.textarea {
    width: 100%;
    background: #282c37;
    color: #d9e1e8;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    resize: none;
    /*font-size: 15pt;*/
    line-height: 24px;
    overflow: auto;
    height: auto;
    padding: 2%;
}

.textarea::-webkit-input-placeholder {
    color: #d9e1e8;
}

.textarea:-ms-input-placeholder {
    color: #d9e1e8;
}

.textarea::-ms-input-placeholder {
    color: #d9e1e8;
}

.textarea::placeholder {
    color: #d9e1e8;
}

.textarea:focus {
    outline: none;
}

textarea::-webkit-scrollbar {
    width: 12px;
    background-color: #d9e1e8; }

textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #9baec8; }


.add-post-func {
    margin-top: -2%;
    display: flex;
    flex-direction: row;
}

.make-post {
    padding-bottom: 2%;
    width: 30%;
    margin-left: 69%;
}

.make-post button {
    padding: 5%;
    /*margin-left: 30%;*/
}


.square_btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #d9e1e8;
    border: solid 2px #d9e1e8;
    border-radius: 3px;
    transition: .4s;
    margin: auto 2%;
    font-size: 12pt;
    background: transparent;
}

.square_btn:hover {
    background: #2b90d9;
    color: #d9e1e8;
}

.make-poll {
    width: 6%;
    margin-left: 1%;
    margin-right: 1%;
}

.make-poll img {
    width: 100%;
}

.spinner-container-form {
    z-index: 1;
    position: absolute;
    top: 150px;
    right: 380px;
}

.field{
    --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
}

.field__input{
    background-color: transparent;
    border-radius: 0;
    border: none;

    -webkit-appearance: none;
    -moz-appearance: none;

    font-family: inherit;
    font-size: 12pt;
    width: 80%;
    color: #f1f1f1;

}

.field__input:focus::-webkit-input-placeholder{
    color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder{
    color: var(--uiFieldPlaceholderColor);
    opacity: 1;
}

/*
=====
LEVEL 2. CORE STYLES
=====
*/

.a-field{
    display: inline-block;
}

.a-field__input{
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.a-field__input:focus{
    outline: none;
}

/*
=====
LEVEL 3. PRESENTATION STYLES
=====
*/

/* a-field */

.a-field{
    --uiFieldHeight: var(--fieldHeight, 40px);
    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
    --uiFieldBorderColor: var(--fieldBorderColor);

    --uiFieldFontSize: var(--fieldFontSize, 1em);
    --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);

    --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
    --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);

    position: relative;
    box-sizing: border-box;
    font-size: var(--uiFieldFontSize);
    padding-top: 1em;
    width: 100%;
}

.a-field__input{
    height: var(--uiFieldHeight);
    padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);
}

.a-field__input::-webkit-input-placeholder{
    opacity: 0;
    transition: opacity .2s ease-out;
}

.a-field__input::-moz-placeholder{
    opacity: 0;
    transition: opacity .2s ease-out;
}

.a-field__input:not(:placeholder-shown) ~ .a-field__label-wrap .a-field__label{
    opacity: 0;
    bottom: var(--uiFieldPaddingBottom);
}

.a-field__input:focus::-webkit-input-placeholder{
    opacity: 1;
    transition-delay: .2s;
}

.a-field__input:focus::-moz-placeholder{
    opacity: 1;
    transition-delay: .2s;
}

.a-field__label-wrap{
    box-sizing: border-box;
    width: 100%;
    height: var(--uiFieldHeight);

    pointer-events: none;
    cursor: text;

    position: absolute;
    bottom: 0;
    left: 0;
}

.a-field__label{
    position: absolute;
    left: var(--uiFieldPaddingLeft);
    bottom: calc(50% - .5em);

    line-height: 1;
    font-size: var(--uiFieldHintFontSize);

    pointer-events: none;
    transition: bottom .2s cubic-bezier(0.9,-0.15, 0.1, 1.15), opacity .2s ease-out;
    will-change: bottom, opacity;
}

.a-field__input:focus ~ .a-field__label-wrap .a-field__label{
    opacity: 1;
    bottom: var(--uiFieldHeight);
}

/* a-field_a1 */

.a-field_a1 .a-field__input{
    transition: border-color .2s ease-out;
    will-change: border-color;
}

.a-field_a1 .a-field__input:focus{
    border-color: var(--fieldBorderColorActive);
}

/* a-field_a2 */

.a-field_a2 .a-field__label-wrap::after{
    content: "";
    box-sizing: border-box;
    width: 0;
    height: var(--uiFieldBorderWidth);
    background-color: var(--fieldBorderColorActive);

    position: absolute;
    bottom: 0;
    left: 0;

    will-change: width;
    transition: width .285s ease-out;
}

.a-field_a2 .a-field__input:focus ~ .a-field__label-wrap::after{
    width: 100%;
}

/* a-field_a3 */

.a-field_a3{
    padding-top: 1.5em;
}

.a-field_a3 .a-field__label-wrap::after{
    content: "";
    box-sizing: border-box;
    width: 100%;
    height: 0;

    opacity: 0;
    border: var(--uiFieldBorderWidth) solid var(--fieldBorderColorActive);

    position: absolute;
    bottom: 0;
    left: 0;

    will-change: opacity, height;
    transition: height .2s ease-out, opacity .2s ease-out;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap::after{
    height: 100%;
    opacity: 1;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap .a-field__label{
    bottom: calc(var(--uiFieldHeight) + .5em);
}

/*
=====
LEVEL 4. SETTINGS
=====
*/

.field{
    --fieldBorderColor: #D1C4E9;
    --fieldBorderColorActive: #2b90d9;
}

/*
=====
DEMO
=====
*/
/*
body{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    margin: 0;
}

.page{
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 1000px){

    .page{
        padding-top: 100px;
    }

    .page__field{
        width: 100%;
    }

    .page__field:nth-child(n+2){
        margin-top: 40px;
    }
}

@media (min-width: 1001px){

    body{
        min-height: 100vh;
        display: flex;
    }

    .page{
        box-sizing: border-box;
        width: 1000px;
        margin: auto;

        display: flex;
        align-items: flex-end;
    }

    .page__field{
        margin-left: 2%;
        margin-right: 2%;
        flex-grow: 1;
    }
}
*/
/*
Patreon
*/

.patreon{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

    text-align: center;
    background-color: #fffdee;

    position: absolute;
    top: 0;
    left: 0;
}

.patreon__container{
    padding-left: 10px;
    padding-right: 10px;
}

.patreon__link{
    text-decoration: underline;
    color: #ff4242;
}

.poll-container {
    background-color: #383f4d;/*rgba(75,75,75, .9);*/
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.add-choice .btn .btn-secondary {
    background: #2b90d9;
    border: none;
    color: #f1f1f1;
    margin-left: -30%;
}

#add-choice {
    background: #2b90d9;
    border: none;
    color: #f1f1f1;
    width: 8%;
}

.close {
    position: absolute;
    right: 32px;
    margin-right: 10%;
    margin-top: 18%;
    top: 136px;
    width: 32px;
    height: 14px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #f1f1f1;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

