.group-page {
  @import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
  .followerArea {
    color: white;
    background-color: #282c37;
  }

  .postImgDiv {
    width: 20%;
  }

  .followerImg1 {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px;
  }
  .follows {
    height: 34.4rem !important;
    width: 54rem !important;
    margin-top: 1.7rem !important;
    margin-left: -1rem !important;
    margin-bottom: 2rem !important;
    background-color: transparent;
  }
  .firstName {
    font-family: "Raleway", sans-serif;
  }

  .lastName {
    font-family: "Raleway", sans-serif;
  }

  .nickname {
    font-family: "Raleway", sans-serif;
  }

  .avatar_photo {
    width: 102px;
    height: 102px;
    border-radius: 542px;
    border: #282c37 6px solid;
    object-fit: cover;
  }

  .followerArea {
    color: white;
    background-color: #282c37;
    width: 58rem !important;
    margin-left: 2rem !important;
  }
}
