.commentListItemStyle {
  .commentDiv {
    /*border-left: white 1px solid;*/
    border-radius: 18px;
    margin-bottom: 10px;
    background-color: #383c47;
    width: 80%;
    margin-right: 6%;
    margin-left: 14%;
    padding: 5px;

  }

  .commentUserName {
    color: #9aadc7;
  }

  .commentText {
    margin-left: 15px;
  }

  .commentTextP{
    word-wrap: break-word;
  }

  .commentEditDelete {
    background-color: transparent;
    border: none;
    color: #9aadc7;
    white-space: nowrap;
    //transition: all .3s ease-in;
  }



  .commentEditDelete:hover {
    color: white;
  }

  @media (min-width: 12em) {

    .commentEditDelete {
      width: 20px;
      overflow: hidden;
    }

  }

  @media (min-width: 28em) {

    .commentEditDelete {
      width: auto;
      overflow: hidden;
    }

  }




  .pb-cmnt-textarea {
    border-radius: 18px;
    resize: none;
    padding: 10px;
    height: 40px;
    width: 100%;
    border: 1px solid #F2F2F2;
    overflow-wrap: break-word;
  }

  .icon-profile-comment img {
    border-radius: 50%;
    border: 1px solid #282c37;
    object-fit: cover;
    height: 40px;
    width: 40px;
    display: block;
    position: relative;
    right: 25px;
  }

  .textareaEditComment {
    resize: none;
    height: 40px;
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    padding-left: 15px;
    border-bottom: white 2px solid;
    font-size: 16px;
  }

  .textareaEditComment:focus {
    outline-width: 0;
    border-bottom: #375a7f 2px solid;
  }

  .editCommentSaveButton {
    margin-top: 10px;
  }

  .commentEditDeleteDiv {
    padding: 0px;
  }

}
