.profile-mobile-menu {
    position: fixed;
    top: 0;
    z-index: 111;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #fff;
    left: 0;
    right: 0;
    height: 63px;
    padding-left: 90px;
    justify-content: center;
    align-items: center;
    display: none;
}

.profile-mobile-menu__item{
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    font-size: 15px;
    border: 1px solid #fff;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 30px;
}

.profile-mobile-menu__item--active {
    background: #607D8B;
    border-color: #607d8b;
}

.profile-mobile-menu__item:last-child {
    margin-right: 0;
}
@media all and (max-width: 650px) {
    .profile-mobile-menu {
        display: flex;
    }
}

@media all and (max-width: 440px) {
    .profile-mobile-menu {
        padding-right: 10px;
    }

    .profile-mobile-menu__item {
        font-size: 11px;
        font-weight: bold;
    }
}