// .home-page {
//   .arrow {
//     font-size: 1vw;
//     cursor: pointer;
//   }

//   .fa-angle-down {
//     margin-left: 12%;
//     font-size: 30px;
//   }

//   .dropdown-content {
//     display: none;
//     position: absolute;
//     background-color: #f1f1f1;
//     min-width: 160px;
//     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//     z-index: 1;
//     left: -30px;
//   }

//   .dropdown-content a {
//     color: black;
//     padding: 12px 16px;
//     text-decoration: none;
//     display: block;
//   }

//   .dropdown-content a:hover {
//     background-color: #ddd;
//   }

//   .dropdown:hover .dropdown-content {
//     display: block;
//   }
// }

