// .home-page {
//     .container {
//         max-width: 60vw;
//         font-size: 1vw;
//         float: left;
//     }

//     .comment {
//         width: 32%;
//     }

//     .comment-text-area {
//         width: 100%;
//     }

//     .textinput {
//         float: left;
//         width: 100%;
//         min-height: 160px;
//         outline: none;
//         resize: none;
//         border: 1px solid grey;
//         border-radius: 10px;
//     }

//     .btn {
//         padding: 1em 2.1em 1.1em;
//         border-radius: 3px;
//         margin: 8px 8px 8px 0px;
//         color: #fbdedb;
//         background-color: #fbdedb;
//         display: inline-block;
//         background: #e74c3c;
//         -webkit-transition: 0.3s;
//         -moz-transition: 0.3s;
//         -o-transition: 0.3s;
//         transition: 0.3s;
//         font-family: sans-serif;
//         font-weight: 800;
//         font-size: .85em;
//         text-transform: uppercase;
//         text-align: center;
//         text-decoration: none;
//         -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
//         -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
//         box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
//         font-size: 1vw;

//     }

//     .btn:hover, .btn:focus {
//         opacity: 0.8;
//     }

//     .btn:active {
//         -webkit-transform: scale(0.80);
//         -moz-transform: scale(0.80);
//         -ms-transform: scale(0.80);
//         -o-transform: scale(0.80);
//         transform: scale(0.80);
//     }

//     .btn.block {
//         display: block !important;
//     }

//     .btn.circular {
//         border-radius: 50em !important;
//     }

//     .purple {
//         background-color: #564f8a;
//     }
// }