.group-page {
  @import url(https://fonts.googleapis.comcssfamily=Libre+Baskerville&display=swap);
  .profile_info {
    margin: 1.2rem !important;
    font-size: 25px;
    font-family: Libre Baskerville, serif;
  }

  .page_numbers {
    margin-left: 1rem !important;
  }

  .group {
    height: 5.9rem !important;
    margin-bottom: 7.5rem !important;
    text-decoration: none;
  }

  .page_button {
    background: #282c37;
    font-family: Libre Baskerville, serif;
    color: white;
    border-color: black;
    border-width: 1px;
    margin-right: 3px;
    width: 32px;
    height: 32px;
  }
  .selectedPage {
    background: #aaacaf;
    font-family: Libre Baskerville, serif;
    color: black;
    font-weight: bold;
    border-width: 1px;
    border-color: black;
    margin-right: 3px;
    margin-top: 18px;
    width: 32px;
    height: 32px;
  }

  .plus_button {
    margin-left: 6rem !important;
    margin-top: 0.3rem !important;
    height: 2rem;
  }

  .group_name {
    margin-top: 1rem !important;
    margin-left: -5rem !important;
    text-decoration: none;
  }

  .title {
    margin-top: -4.3rem !important;
    margin-left: 8rem !important;
    font-size: 1.5rem !important;
    font-family: Libre Baskerville, serif;

    position: absolute;
  }
  .group-content {
    padding: 1rem !important;
  }
  @import url(https://fonts.googleapis.comcssfamily=Libre+Baskerville&display=swap);
  .create_group {
    margin-top: 1.4rem !important;
    margin-bottom: -5.3rem !important;
    margin-left: 42rem !important;
    width: 9rem !important;
    height: 3rem !important;
    font-size: 1.1rem !important;
    font-family: Libre Baskerville, serif;
    font-weight: 500;
    position: absolute;
    background: white;
    border-radius: 10px;
    border: none;
  }

  .add_text {
    margin-top: 0.6rem !important;
    position: absolute;
    margin-left: 0.5rem !important;
  }

  .description {
    font-size: 0.9rem !important;
    font-family: Libre Baskerville, serif;
    text-align: justify;
    word-wrap: break-word;
    line-height: 1.4em;
    color: #d9e1e8;
    text-overflow: ellipsis;
  }

  -webkit-scrollbar {
    width: 7px;
    height: 5px;
  }
  -webkit-scrollbar-button {
    background-color: #666;
  }
  -webkit-scrollbar-track {
    background-color: #666;
  }
  -webkit-scrollbar-track-piece {
    background-color: #4b4b4b;
    border-radius: 50px;
  }
  -webkit-scrollbar-thumb {
    height: 50px;
    background-color: #666;
    border-radius: 10px;
  }
  -webkit-scrollbar-corner {
    background-color: #999;
  }
  -webkit-resizer {
    background-color: #666;
  }

  .groupArea {
    color: white;
    border-radius: 10px;
    border-color: black;
    background-color: #282c37;
    width: 49.6rem !important;
    height: 12.6rem !important;
    margin-left: 1.2rem !important;
    position: inherit;
  }

  .border_bottom {
    border-bottom: 1px solid gainsboro;
    margin-top: 6.2rem !important;
  }

  .groupAreahover {
    background: rgba(65, 155, 221, 0.5);
    cursor: pointer;
  }

  .groupImgDiv {
    width: 80px;
    height: 80px;
    border-radius: 43px;
    margin-left: 0.5rem !important;
    margin-top: -6.3rem !important;
    position: absolute;
  }

  .postImg {
    width: 37%;
  }

  .search {
    width: 37.8rem !important;
    height: 40px;
    margin-left: 1.2rem !important;
    margin: 26px auto;
    background: #444;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: 1px solid #fff;
  }

  @import url(https://fonts.googleapis.comcssfamily=Libre+Baskerville&display=swap);
  .search input {
    width: 100%;
    height: 100%;
    padding: 18px 18px;
    float: left;
    color: #ccc;
    font-family: Libre Baskerville, serif;
    border: 0;
    background: transparent;
    border-radius: 3px 0 0 3px;
  }

  .search inputfocus {
    background: transparent;
    background: rgba(255, 255, 255, 0.5);
    color: #000;
  }

  placeholder {
    color: white;
  }

  .search button {
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 39px;
    width: 15%;
    font-family: Libre Baskerville, serif;
    color: #fff;
    background: transparent;
    border-left: 1px solid #fff;
    border-radius: 0 3px 3px 0;
  }

  .search buttonhover {
    background: #419bdd;
    color: #fff;
  }
  .search buttonactive {
    box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
  }

  .search buttonfocus {
    outline: 0;
  }
}
