
.new-post {
    background: #282c37;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 4%;
    margin-top: 4%;
}

.logo {
    width: 10%;
    padding: 1%;
}

.info {
    width: 90%;
}

.text {
    margin-top: 1%;
    text-indent: 2%;
    line-height: 1.6em;
    padding: 2% 2% 1%;
}

.info-nickname {
    padding-top: 1%;
    margin-left: 3%;
    width: 40%;
}

.p-maryna  {
    font-size: 12pt;
    word-wrap: break-word;
}

.date {
    margin-top: auto;
    margin-bottom: auto;
    width: 52%;
    text-align: right;
}

.nickname {
    padding-bottom: 2%;
    padding-top: 2%;
}

.name-surname {
    padding-bottom: 2%;
    padding-top: 2%;
}

.info-about-user {
    display: flex;
    flex-direction: row;
    padding-bottom: 1%;
    padding-top: 1%;
}

.logo-user img{
    border-radius: 50%;
    border: 3px solid #282c37;
    box-shadow: 0 0 7px #666;
    object-fit: cover;
    height: 90px;
    width: 90px;
    display: block;
    margin: auto;
}

.logo-user img:hover{
    transform: scale(1.05);
}

.post {
    margin-top: 2%;
}

.images {
    margin-right: auto;
    margin-left: auto;
    padding-right: auto;
    padding-left: auto;
    padding-top: 2%;
}

.images img {
    width: 100%;
}

.bottom {
    margin-top: 1%;
    margin-bottom: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
}


.functions-button {
    float: left;
    margin-left: -65%;
    display: flex;
    flex-direction: row;
}


.func {
    padding-left: 8%;
    padding-right: 8%;
}


.like-comment {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    width: 100%;
}

.like {
    width: 110px;
}


.func {
    margin-left: 5%;
    margin-right: 5%;
    background: transparent;
    border: 0;
    width: auto;
    color: #f1f1f1;
}

.func:hover {
    text-decoration: underline;
}


.update-time {
    margin-top: -2%;
    margin-left: calc(100% - 150px);
    font-size: 9pt;
    color: #666;
    margin-bottom: 2%;
    width: 150px;
}

.comment {
    width: 60px;
    padding-top: auto;
    padding-bottom: auto;
    /*padding-right: 5%;
    padding-left: 5%;
    margin-left: 4%;
    margin-right: 4%;*/
}

.comment img {
    margin-top: 8px;
    margin-bottom: auto;
    width: 35px;
    cursor: pointer;
}

.polls-post {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*
.logo-user img {
    width: 100%;
}*/
