.no-post {
    width: 100%;
    background: #282c37;
    margin-bottom: 3%;
    margin-top: 5%;
}

.no-post-text {
    font-size: 17pt;
    text-align: center;
    padding-top: 3%;
}

.no-post-photo {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-right: 35%;
    margin-left: 35%;
    width: 30%;
}

.no-post-photo img {
    width: 100%;
    opacity: 0.4;
    filter: alpha(opacity=40);
}
