.fullscreen-spinner-container{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.21);
}

.fullscreen-spinner-container .lds-css{
    display: flex;
    margin-top: 0;
    transform: scale(2);
}