.profile-header {
    padding: 0 !important;
}


@media (max-width: 600px) {
    .profile-header {
        width: 100%;
    }
}

.profile-header__background {
    overflow: hidden;
    height: 300px;
}

.profile-header__background-img {
    width: 100%;
    min-height: 300px;
    object-position: center;
    object-fit: cover;
}

.profile-header__profile-info {

}

.profile-info {
    position: relative;
    background: #282c37;
    height: 150px;
}

.profile-info__logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid #282c37;
    position: absolute;
    top: -100px;
    left: 50px;
}

.profile-info__logo-img {
    width: 100%;
    object-fit: contain;
}

.profile-info__content {
    height: 100%;
}

.profile-info__name {
    position: absolute;
    left: 300px;
    top: 30px;
}

.profile-info__follow {
    position: absolute;
    right: 50px;
    top: 50px;
}

.profile-info__edit-profile {
    position: absolute;
    right: 50px;
    top: 50px;
}

.profile-info__edit-profile-button {
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
    transition: width 1s;
    font-size: 16px;
}

.profile-info__edit-profile-button:hover {
    background-color: #3f4550;
}


.profile-info__tabs {
    position: absolute;
    bottom: 20px;
    left: 300px;
}

.profile-info__icon {
    margin-left: 5px;
}

.profile-info__is-online {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid rgb(0, 150, 136);
    position: absolute;
    left: 256px;
    top: 14px;
}
.profile-info__is-online.online {
    background: rgb(0, 150, 136);
}

.profile-info__distance {
    right: 175px;
    position: absolute;
    top: 61px;
    font-size: 16px;
}

.profile-info__last-time-online {
    font-size: 12px;
    left: 53px;
    color: #bdbdbd;
    bottom: 27px;
    position: absolute;
}

@media all and (max-width: 870px) {

    .profile-info__edit-profile, .profile-info__follow {
        right: 39px;
        top: -60px;
    }
}

@media all and (max-width: 670px) {
    .profile-menu {
        display: none;
    }

    .profile-header {
        /*margin-top: 63px;*/
    }

    .profile-info__tabs {
        display: none;
    }

    .profile-header__background {
        height: 200px;
    }

    .profile-info__logo {
        width: 150px;
        height: 150px;
        border: 7px solid #282c37;
    }

    .profile-info {
        height: 70px;
    }

    .profile-info__name {
        left: 190px;
        top: 20px;
    }

    .profile-info__edit-profile, .profile-info__follow {
        right: 38px;
        top: 17px;
    }
}

@media all and (max-width: 510px) {
    .profile-info__logo {
        width: 140px;
        height: 140px;
        left: 18px;
    }

    .profile-info__edit-profile, .profile-info__follow {
        right: 21px;
        top: -57px;
        background: rgba(40, 44, 55, 0.82);
        border-radius: 20px;
    }

    .profile-info__name {
        left: 157px;
    }
}

