.stars.profile-page{
  height: 1100px;
}

.profile-page {
  padding-bottom: 100px;
}

.backgroundProfileImg {
  width: 100%;
  min-height: 300px;
}

.editBackgroundProfileImg {
  width: 100%;
  min-height: 150px;
}

.backgroundProfileImgDiv {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.editBackgroundProfileImgDiv {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  width: 100%;
  height: 125px;
  overflow: hidden;
}


.profileHeader {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: white;
  background-color: #282c37;
}

.editProfileHeader {
  height: 70px;
}

.profile_logo {
  border-radius: 50%;
  border: #282c37 6px solid;
  object-fit: cover;
  height: 170px;
  width: 170px;
  display: block;
  position: relative;
  right: -15px;
  bottom: 85px;
}

.editProfile_logo {
  border-radius: 50%;
  border: #282c37 6px solid;
  object-fit: cover;
  height: 140px;
  width: 140px;
  display: block;
  position: relative;
  right: -15px;
  bottom: 85px;
}

.profile_logo_container {
  //position: absolute;
  //height: 170px;
  //width: 170px;
  //top: -75px;
  //border-radius: 50%;
  //margin-left: 15px;
  //overflow: hidden;
}

.edit_profile_logo_container {
  //position: relative;
  //height: 140px;
  //width: 140px;
  //top: -75px;
  //border-radius: 50%;
  //border: #282c37 7px solid;
  //margin-left: 15px;
  //overflow: hidden;
}


.profile_logo_col {
  height: 90px;
}


.profile-button {
  background-color: transparent;
  border: white 1px solid;
  color: #1da1f2;
  color: white;
  border-radius: 25px;
}

.profile-button:hover {
  border: white 1px solid;
  background-color: #3f4550;
}

.navText {
  border: none;
  background-color: transparent;
}

.nav-link:hover {
  cursor: pointer;
}

ul.nav.nav-tabs {
  border-bottom-right-radius: 3px;
  color: #9aadc7;
}

.profileName {
  margin-top: 10px;
}

a.nav-link {
  transition: 0.5s;

}

.textareaEditUser {
  resize: none;
  height: 40px;
  //width: 80%;
  background-color: transparent;
  border: none;
  color: white;
  padding-left: 15px;
  border-bottom: white 2px solid;
  font-size: 16px;
}

.textareaEditUser:focus {
  outline-width: 0;
  border-bottom: #375a7f 2px solid;
}

.textareaEditUserUpper {
  padding-left: 7px;
  padding-top: 3px;
  color: #9aadc7;
}

.editUserInfoLeft {
  padding-top: 11px;
}

.editUserInfoLeftElement {
  margin-bottom: 30px;
}

.modal-content {
  background-color: #282c37;
  margin-top: 20%;
  overflow: hidden;
}

.edit-your-info-text {
  font-size: 19px;
  margin: 15px;
  width: 100%;
}

.user-name {
  font-weight: bolder;
  font-size: 20px;
}

.edit-save-form {
  width: 100%;
  margin-right: 15px;
}

.editUserSaveButton {
  height: 80%;
}

.closeModalButton {
  color: #375a7f;
  font-size: 20px;
  width: 20%;
  background: transparent;
  border: none;
  border-radius: 50%;
}

.closeModalButton:hover {
  transition: 0.4s;
  background-color: #3d444f;
}

.editUserModalHeader {
  background-color: #373d48;
}

.editUserModalElementsDiv {
  padding-left: 20px;
}

.editUserModalElement {
  border-radius: 2px;
  background-color: #373d48;
  margin: 10px;
}

.errorNicknameAlreadyExists {
  display: block;
  font-weight: 500;
  color: #de405a;
  margin: 5px;
}


h3 {
  margin-left: 15px;
}

.BackgroundImageInput {
  position: absolute;
  right: 45%;
  top: 5%;
  margin: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.BackgroundImageInput:hover {
  background-color: #3f4550;
  opacity: 50%;
}

.AvatarImageInput {
  z-index: 2;
  position: absolute;
  right: 74%;
  top: 13%;
  margin: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.AvatarImageInput:hover {
  background-color: #3f4550;
  opacity: 50%;
}


.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 200px;
  width: 500px;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  border-top: 5px solid #808080;
  border-bottom: 5px solid #808080;
}

.imgPreview img {
  width: 100%;
  height: 100%;
}

.previewText {
  width: 100%;
  margin-top: 20px;
}

.submitButton {
  padding: 12px;
  margin-left: 10px;
  background: #fff;
  border: 4px solid #d3d3d3;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
}

.submitButton:hover {
  background: #efefef;
}

.centerText {
  text-align: center;
  width: 500px;
}

.editProfileSpinner {
  position: absolute;
  right: 42%;
  top: 40%;
  z-index: 1;
}

.profileContent {
  //margin-left: 0px;
}

@media all and (max-width: 990px) and (min-width: 650px){
  .profile__follow-button-column {
    position: absolute;
    right: 0;
    max-width: 100px;
  }

  .postsToggle {
    margin-top: 16px !important;
    margin-left: -3px;
  }
}

@media all and (max-width: 650px) and (min-width: 380px) {

  .profile__follow-button-column {
    top: -84px;
    right: 258px;
    position: absolute;
  }

  .postsToggle {
    width: 500px;
    margin-top: 27px !important;
    margin-left: -100px !important;
  }

  .backgroundProfileImgDiv {
    margin: 0 -15px 0 -15px;
    width: calc(100% + 30px);
    height: 150px;
  }

  .profile-page .profileHeader {
    display: flex;
    margin: 0 -15px 0 -15px;
    width: calc(100% + 30px);
    height: 80px;
  }

  .profile_logo {
    width: 140px;
    height: 140px;
  }

  .profileName {
    position: absolute;
    right: 0;
    top: -80px;
    left: 79px;
  }


  .profile_logo {
    bottom: 129px;
  }
}

//@media all and (max-width: 580px) {
//  .profileName {
//    position: absolute;
//    right: 0;
//    top: -80px;
//    left: 5px;
//  }
//
//  .profile__follow-button-column {
//    top: -91px;
//    right: 0;
//  }
//
//  .postsToggle {
//    position: absolute;
//    margin-left: 0 !important;
//  }
//  .profileName {
//    left: 136px;
//  }
//
//  .backgroundProfileImgDiv{
//    height: 150px;
//  }
//}