.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-main {
  position: fixed;
  background: #282c37;
  width: 30%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1%;
}

.create-button {
  background-color: #404659;
  border-color: #363b4a;
  color: white;
}

.create-button:hover {
  background-color: #565d76;
  border-color: #363b4a;
  color: white;
}

.create-button:disabled {
  background-color: #2c303a;
  border-color: #363b4a;
  color: white;
}

@media all and (max-width: 650px){
  .modal-main{
    width: 90%;
  }
}
