.update-btn {
    margin-left: 25%;
}

.edit-close {
    position: absolute;
    right: 32px;
    margin-right: 10%;
    margin-top: 18%;
    top: 136px;
    width: 32px;
    height: 14px;
    opacity: 0.3;
}
.edit-close:hover {
    opacity: 1;
}
.edit-close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #f1f1f1;
}
.edit-close:before {
    transform: rotate(45deg);
}
.edit-close:after {
    transform: rotate(-45deg);
}
