.password-restore{
    width: 100%;
    padding: 20px 0;
    background: green;
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.password-restore.success{
    background: rgba(0, 250, 0, 0.32);
    text: green;
}

.password-restore-back-button{
    margin: 40px auto 0 auto;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    background: transparent;
    display: block;
    width: fit-content;
}

.password-restore-back-button:hover{
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
}
