.groupList-page {
  .search {
    width: 51.8rem !important;
    height: 40px;
    margin-left: -0.8rem !important;
    margin-top: 5rem !important;
    margin: 26px auto;
    background: #444;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: 1px solid #fff;
  }

  @import url("https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap");
  .search input {
    width: 100%;
    height: 100%;
    padding: 18px 18px;
    float: left;
    color: #ccc;
    font-family: "Libre Baskerville", serif;
    border: 0;
    background: transparent;
    border-radius: 3px 0 0 3px;
  }

  .search input:focus {
    background: transparent;
    background: rgba(255, 255, 255, 0.5);
    color: #000;
  }

  ::placeholder {
    color: white;
  }

  .search button {
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 39px;
    width: 15%;
    font-family: "Libre Baskerville", serif;
    color: #fff;
    background: transparent;
    border-left: 1px solid #fff;
    border-radius: 0 3px 3px 0;
  }

  .search button:hover {
    background: #419bdd;
    color: #fff;
  }
  .search button:active {
    box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
  }

  .search button:focus {
    outline: 0;
  }
}
