.ko-wrapper {
    height: 700px;
    position: relative;
    width: 100%;
    background-image: url(/img/lgbt.jpg);
    background-size: cover;
    background-position: center;
}

.ko-img {
    position: absolute;
    height: 80%;
    top: 10%;
    left: 10%;
    -webkit-animation: fadein 0.50s; /*This first*/
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    transition: all;
    animation: kokoko 10s;
}

.ko-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.51);
}

.ko-text {
    font-size: 100px;
    color: red;
    font-weight: bold;
    position: absolute;
    right: 10%;
    top: 40%;
    padding-bottom: 50px;
    border-bottom: 3px dotted red;
    transform: rotate(-15deg);
}

.ko-text-small {
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    color: #2196F3;
    right: 30%;
    top: 30%;
}

.ko-link {
    position: absolute;
    font-size: 50px;
    top: 67%;
    left: 0;
    right: 0;
    text-align: center;
    text-decoration: underline;
}

@keyframes kokoko {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(15deg)
    }
    90% {
        transform: rotate(-5deg)
    }
    100% {
        transform: rotate(0deg)
    }
}