.home-page {
    .buttonn {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 24px;
        width: 30px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        box-sizing: border-box;
    }

    .buttonn:focus {
        outline: none;
    }

    .button_line {
        
        height: 2px;
        background: white;
    }
}