.chat-button {
  background-color: #404659;
  border-color: #363b4a;
  color: white;
}

.chat-input {
  background-color: #20232c;
  color: white;
}

.w-80 {
  width: 80%;
}
.chat-input:focus {
  background-color: #363b4a;
  border-color: #4b5268;
  color: white;
}

.chat-button:hover {
  background-color: #565d76;
  border-color: #363b4a;
  color: white;
}
