.page {
    min-height: 500px;
}

.content {
    padding-top: 60px;
}

/*.backgroundProfileImgUploadImage {*/
/*    width: 100%;*/
/*    min-height: 300px;*/
/*}*/

/*.backgroundProfileImgDivUploadImage {*/
/*    border-top-right-radius: 3px;*/
/*    border-top-left-radius: 3px;*/
/*    width: 100%;*/
/*    height: 300px;*/
/*    overflow: hidden;*/
/*}*/

/*.editBackgroundProfileImgDivUploadImage {*/
/*    border-top-right-radius: 3px;*/
/*    border-top-left-radius: 3px;*/
/*    width: 100%;*/
/*    height: 150px;*/
/*    overflow: hidden;*/
/*}*/


/*.profileHeaderUploadImage {*/
/*    border-bottom-left-radius: 3px;*/
/*    border-bottom-right-radius: 3px;*/
/*    color: white;*/
/*    background-color: #282c37;*/
/*}*/

/*.editProfileHeaderUploadImage {*/
/*    height: 70px;*/
/*}*/

/*.profile_logoUploadImage {*/
/*    border-radius: 50%;*/
/*    border: #282c37 6px solid;*/
/*    object-fit: cover;*/
/*    height: 170px;*/
/*    width: 170px;*/
/*    display: block;*/
/*    position: relative;*/
/*    right: -15px;*/
/*    bottom: 85px;*/
/*}*/

/*.editProfile_logoUploadImage {*/
/*    border-radius: 50%;*/
/*    border: #282c37 6px solid;*/
/*    object-fit: cover;*/
/*    height: 140px;*/
/*    width: 140px;*/
/*    display: block;*/
/*    position: relative;*/
/*    right: -15px;*/
/*    bottom: 85px;*/
/*}*/

/*.profile_logo_containerUploadImage {*/
/*//position: absolute;*/
/*//height: 170px;*/
/*//width: 170px;*/
/*//top: -75px;*/
/*//border-radius: 50%;*/
/*//margin-left: 15px;*/
/*//overflow: hidden;*/
/*}*/

/*.edit_profile_logo_containerUploadImage {*/
/*//position: relative;*/
/*//height: 140px;*/
/*//width: 140px;*/
/*//top: -75px;*/
/*//border-radius: 50%;*/
/*//border: #282c37 7px solid;*/
/*//margin-left: 15px;*/
/*//overflow: hidden;*/
/*}*/



/*.profile_logo_colUploadImage {*/
/*    height: 90px;*/
/*}*/



/*.profile-buttonUploadImage {*/
/*    background-color: transparent;*/
/*//border: #1da1f2 1px solid;*/
/*    border: white 1px solid;*/
/*    color: #1da1f2;*/
/*    color: white;*/
/*    border-radius: 25px;*/
/*}*/

/*.profile-buttonUploadImage:hover {*/
/*    border: white 1px solid;*/
/*    background-color: #3f4550;*/
/*}*/

/*.navTextUploadImage {*/
/*    border: none;*/
/*    background-color: transparent;*/
/*}*/

/*.nav-linkUploadImage:hover {*/
/*    cursor: pointer;*/
/*}*/

/*.profileNameUploadImage {*/
/*    margin-top: 10px;*/
/*}*/

/*.textareaEditUserUploadImage {*/
/*    resize: none;*/
/*    height: 40px;*/
/*//width: 80%;*/
/*    background-color: transparent;*/
/*    border: none;*/
/*    color: white;*/
/*    padding-left: 15px;*/
/*    border-bottom: white 2px solid;*/
/*    font-size: 16px;*/
/*}*/

/*.textareaEditUserUploadImage:focus {*/
/*    outline-width: 0;*/
/*    border-bottom: #375a7f 2px solid;*/
/*}*/

/*.textareaEditUserUpperUploadImage {*/
/*    padding-left: 7px;*/
/*    padding-top: 3px;*/
/*    color: #9aadc7;*/
/*}*/

/*.editUserInfoLeftUploadImage {*/
/*    padding-top: 11px;*/
/*}*/

/*.editUserInfoLeftElementUploadImage {*/
/*    margin-bottom: 30px;*/
/*}*/

/*.modal-contentUploadImage {*/
/*    background-color: #282c37;*/
/*    margin-top: 20%;*/
/*    overflow: hidden;*/
/*}*/

/*.edit-your-info-textUploadImage {*/
/*    font-size: 19px;*/
/*    margin: 15px;*/
/*    width: 100%;*/
/*}*/

/*.user-nameUploadImage {*/
/*    font-weight: bolder;*/
/*    font-size: 20px;*/
/*}*/

/*.edit-save-formUploadImage {*/
/*    width: 100%;*/
/*    margin-right: 15px;*/
/*}*/

/*.editUserSaveButtonUploadImage {*/
/*    height: 80%;*/
/*}*/

/*.closeModalButtonUploadImage {*/
/*    color: #375a7f;*/
/*    font-size: 20px;*/
/*    width: 20%;*/
/*    background: transparent;*/
/*    border: none;*/
/*    border-radius: 50%;*/
/*}*/

/*.closeModalButtonUploadImage:hover {*/
/*    transition: 0.4s;*/
/*    background-color: #3d444f;*/
/*}*/

/*.editUserModalHeaderUploadImage {*/
/*    background-color: #373d48;*/
/*}*/

/*.editUserModalElementsDivUploadImage {*/
/*    padding-left: 20px;*/
/*}*/

/*.editUserModalElementUploadImage {*/
/*    border-radius: 2px;*/
/*    background-color: #373d48;*/
/*    margin: 10px;*/
/*}*/

/*.errorNicknameAlreadyExistsUploadImage {*/
/*    display: block;*/
/*    font-weight: 500;*/
/*    color: #de405a;*/
/*    margin: 5px;*/
/*}*/




/*h3 {*/
/*    margin-left: 15px;*/
/*}*/
/*.BackgroundImageInputUploadImage {*/
/*    position: absolute;*/
/*    right: 45%;*/
/*    top: 7%;*/
/*    margin: 10px;*/
/*    cursor: pointer;*/
/*    border-radius: 50%;*/
/*}*/

/*.BackgroundImageInputUploadImage:hover {*/
/*    background-color: #3f4550;*/
/*    opacity: 50%;*/
/*}*/

/*.AvatarImageInputUploadImage {*/
/*    z-index: 2;*/
/*    position: absolute;*/
/*    right: 74%;*/
/*    top: 15%;*/
/*    margin: 10px;*/
/*    cursor: pointer;*/
/*    border-radius: 50%;*/
/*}*/

/*.AvatarImageInputUploadImage:hover {*/
/*    background-color: #3f4550;*/
/*    opacity: 50%;*/
/*}*/




/*.imgPreviewUploadImage {*/
/*    text-align: center;*/
/*    margin: 5px 15px;*/
/*    height: 200px;*/
/*    width: 500px;*/
/*    border-left: 1px solid #808080;*/
/*    border-right: 1px solid #808080;*/
/*    border-top: 5px solid #808080;*/
/*    border-bottom: 5px solid #808080;*/
/*}*/
/*.imgPreviewUploadImage img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
/*.previewTextUploadImage {*/
/*    width: 100%;*/
/*    margin-top: 20px;*/
/*}*/
/*.submitButtonUploadImage {*/
/*    padding: 12px;*/
/*    margin-left: 10px;*/
/*    background: #fff;*/
/*    border: 4px solid #d3d3d3;*/
/*    border-radius: 15px;*/
/*    font-weight: 700;*/
/*    font-size: 10pt;*/
/*    cursor: pointer;*/
/*}*/
/*.submitButtonUploadImage:hover {*/
/*    background: #efefef;*/
/*}*/
/*.centerTextUploadImage {*/
/*    text-align: center;*/
/*    width: 500px;*/
/*}*/

/*.editProfileSpinnerUploadImage {*/
/*    position: absolute;*/
/*    right: 42%;*/
/*    top: 40%;*/
/*    z-index: 1;*/
/*}*/

/*.profileContentUploadImage {*/
/*//margin-left: 0px;*/
/*}*/
