.no-follow-news {
    width: 100%;
    height: 500px;
    background: #282c37;
    margin-top: 4%;
    margin-bottom: 250px;
}

.no-follow-news p {
    text-align: center;
    padding-top: 4%;
    font-size: 14pt;
}

.no-follow-news-image {
    padding-top: 5%;
    width: 35%;
    margin-left: 32.5%;
    margin-right: 32.5%;
}

.no-follow-news-image img {
    width: 100%;
}
