.listOfPagesSearch {
    height: 1000px;
}

.search-textarea {
    border-radius: 8px;
    /*resize: none;*/
    padding: 10px;
    height: 40px;
    /*border: 1px solid #F2F2F2;*/
    border-bottom: 2px solid #F2F2F2;
    border-top: none;
    border-left: none;
    border-right: none;
    word-wrap: break-word;
    background-color: #373d48;
    color: white;
    width: 100%;
}

.search-users-header {
    margin-left: 14%;
}

.search-textarea:focus {
    outline-width: 0;
    border-bottom: #375a7f 2px solid;
}

.search-settings-icon {
    margin-top: 5px;
    font-size: 30px;
}

.search-content-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-content-tabs__item {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #fff;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0 10px;
    background: transparent;
    height: fit-content;
}

.search-content-tabs .disabled {
    cursor: not-allowed;
    color: gray;
    background: rgba(128, 128, 128, 0.47);
    border-color: gray;
}

.search-content-tabs__item--active {
    background: gray;
    border-color: gray;
}

.user-is-online__online {
    background: rgb(0, 150, 136);
}