.toolbar img {
    height:55px;

  }

  .toolbar_navigation-items2 a {
      color: white;
      text-decoration: none;
  }

  .toolbar_navigation-items a:hover,
  .toolbar_navigation-items a:active {
      color: #070820;
  }

  .toolbar_navigation-items ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
  }

  .toolbar_logo {
      margin-left: -2rem;
      margin-top: -10px;
  }

  .spacer {
      flex: 1;
  }

  .toolbar_navigation-items li {
      padding: 0 0.5rem
  }

  .toolbar_navigation {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0 1rem
  }

  .toolbar_logo a {
      color: white;
      text-decoration: none;
      font-size: 1.5rem;
  }

  .toolbar_logo a img {
      width: 100px;
      height: 55px;
  }

  // @media(max-width: 768px) {
  //     .toolbar_navigation-items {
  //         display: none;
  //     }
  // }

  // @media(min-width: 769px) {
  //     .toolbar_toggle-button {
  //         display: none;
  //     }
  //     .toolbar_logo {
  //         margin-left: 0;
  //     }
  // }

.backgroundProfileImg2 {
  width: 100%;
  min-height: 300px;

}

.backgroundProfileImgDiv2 {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  width: 100%;
  height: 50px;
  overflow: hidden;
}


.profileHeader2 {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: white;
  background-color: #282c37;
}

/*
.profile_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  border: #282c37 7px solid;
  margin-left: 15px;
  overflow: hidden;
}*/

.profile_logo_col {
  height: 50px;
}

.profile_logo {
  width: 100%;
}

.btn.btn-info {
  //background-color: #033076;
  //border: black 1px solid;
}

.navText{
  border: none;
  background-color: transparent;
}

.nav-link:hover{
  cursor: pointer;
}

ul.nav.nav-tabs {
  border-bottom-right-radius: 3px;
  color: #9aadc7;
}
.profileName{
  margin-top: 10px;
}

a.nav-link {
  transition: 0.5s;

}

