.social-actions{
    margin-top: 5px !important;
}

@media all and (max-width: 1000px) and (min-width: 700px){
    .login-with-google-btn{
        display: flex !important;
        justify-content: center;
        font-size: 14px !important;
        width: 100% !important;
    }

    .login-with-facebook-btn{
        text-align: center !important;
        padding-left: 0 !important;
    }


    .actions {
        flex-direction: column;
    }
    .login-with-google-btn > div {
        margin-right: 10px !important;
    }

    .login-with-google-btn {
        font-size: 12px !important;
        width: 100% !important;
    }

    .social-actions > span {
        width: 100% !important;
    }

}

@media all and (max-width: 470px) {
    .login-with-google-btn{
        display: flex !important;
        justify-content: center;
        font-size: 14px !important;
        width: 100% !important;
    }

    .login-with-facebook-btn{
        text-align: center !important;
        padding-left: 0 !important;
    }


    .actions {
        flex-direction: column;
    }
    .login-with-google-btn > div {
        margin-right: 10px !important;
    }

    .login-with-google-btn {
        font-size: 12px !important;
        width: 100% !important;
    }

    .social-actions > span {
        width: 100% !important;
    }
}