.login-with-facebook-btn{
    font-size: 12px !important;
    background: #3F51B5 !important;
    padding: 13px 3px !important;
    text-align: left !important;
    padding-left: 15px !important;
}

.login-with-facebook-btn > i {
    margin-right: 10px;
}

.actions > span {
    width: 50% !important;
    border-radius: 5px;
}