.modal {
  .addGroupSpinner {
    position: absolute;
    left: 42%;
    top: 300%;
    bottom: -100%;
    z-index: 1;
  }

  .editBackgroundGroupImg {
    width: 100%;
    min-height: 150px;
  }
  .editBackgroundGroupImgDiv {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background: #282c37;
    width: 100%;
    height: 125px;
    overflow: hidden;
  }
  .editGroupHeader {
    height: 70px;
    background: #373d48;
  }
  .editGroup_logo {
    border-radius: 50%;
    border: #282c37 6px solid;
    object-fit: cover;
    height: 140px;
    width: 140px;
    display: block;
    position: relative;
    right: -15px;
    bottom: 85px;
    background: #373d48;
  }
  .textareaEditUser {
    resize: none;
    height: 40px;
    background-color: transparent;
    border: none;
    color: white;
    padding-left: 15px;
    border-bottom: white 2px solid;
    font-size: 16px;
  }

  .textareaEditUser:focus {
    outline-width: 0;
    border-bottom: #375a7f 2px solid;
  }

  .textareaEditUserUpper {
    padding-left: 7px;
    padding-top: 3px;
    color: #9aadc7;
  }

  .editUserInfoLeft {
    padding-top: 11px;
  }

  .editUserInfoLeftElement {
    margin-bottom: 30px;
  }

  .modal-content {
    background-color: #282c37;
    margin-top: 20%;
    overflow: hidden;
  }

  .edit-your-info-text {
    font-size: 19px;
    margin: 15px;
    width: 100%;
  }

  .edit-save-form {
    width: 100%;
    margin-right: 15px;
  }

  .editUserSaveButton {
    height: 80%;
  }

  .closeModalButton {
    color: #375a7f;
    font-size: 20px;
    width: 20%;
    background: transparent;
    border: none;
    border-radius: 50%;
  }

  .closeModalButton:hover {
    transition: 0.4s;
    background-color: #3d444f;
  }

  .editUserModalHeader {
    background-color: #373d48;
  }

  .editUserModalElementsDiv {
    padding-left: 20px;
  }

  .editUserModalElement {
    border-radius: 2px;
    background-color: #373d48;
    margin: 10px;
  }

  .errorNicknameAlreadyExists {
    display: block;
    font-weight: 500;
    color: #de405a;
    margin: 5px;
  }

  h3 {
    margin-left: 15px;
  }

  .BackgroundImageInput1 {
    position: absolute;
    right: 45%;
    top: 9%;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
  }

  .BackgroundImageInput1:hover {
    background-color: #3f4550;
    opacity: 50%;
  }

  .AvatarImageInput1 {
    z-index: 2;
    position: absolute;
    right: 74%;
    top: 18%;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
  }

  .AvatarImageInput1:hover {
    background-color: #3f4550;
    opacity: 50%;
  }

  .imgPreview {
    text-align: center;
    margin: 5px 15px;
    height: 200px;
    width: 500px;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    border-top: 5px solid #808080;
    border-bottom: 5px solid #808080;
  }

  .imgPreview img {
    width: 100%;
    height: 100%;
  }

  .previewText {
    width: 100%;
    margin-top: 20px;
  }

  .submitButton {
    padding: 12px;
    margin-left: 10px;
    background: #fff;
    border: 4px solid #d3d3d3;
    border-radius: 15px;
    font-weight: 700;
    font-size: 10pt;
    cursor: pointer;
  }

  .submitButton:hover {
    background: #efefef;
  }

  .centerText {
    text-align: center;
    width: 500px;
  }

  .editProfileSpinner {
    position: absolute;
    right: 42%;
    top: 40%;
    z-index: 1;
  }
}
