.newGroup {
  @import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
  .backgroundProfileImg {
    width: 100%;
    min-height: 300px;
  }

  .group_form {
    margin-top: 4rem !important;
  }

  .backgroundProfileImgDiv {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  .profileHeader {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 8rem !important;
    color: white;
    background-color: #282c37;
    display: flex;
    object-fit: cover;
  }

  .profileNames {
    margin-top: -82px;
    margin-left: 13rem !important;
    font-family: "Raleway", sans-serif;
    position: absolute;
  }

  .profile_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    border: #282c37 7px solid;
    margin-left: 15px;
    overflow: hidden;
  }

  .profile_logo_col {
    height: 90px;
  }

  .btn.btn-info {
    color: #fff;
    background-color: transparent;
    border-color: white;
    border-radius: 10px;
    /* padding: 1rem !important; */
    margin-left: 63rem !important;
    /* margin-right: 0rem !important; */
    margin-top: -3rem !important;
    position: absolute;
  }

  .form_style {
    background: #131419;
    margin-top: 2.7rem !important;
    margin-left: 11rem !important;
    height: 31.5rem !important;
    width: 36rem !important;
    padding: 2rem !important;
    border: solid 1px;
    border-color: white;
    position: relative;
    display: flex;
    object-fit: cover;
  }

  .navText {
    border: none;
    background-color: transparent;
  }

  .navText:hover {
    cursor: pointer;
  }

  ul.nav.nav-tabs {
    border-bottom-right-radius: 10px;
    color: #9aadc7;
  }
  .profileName {
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
  }

  a.nav-link {
    transition: 0.5s;
  }

  .listOfPages {
    margin-top: 39.7rem !important;
    margin-left: 43rem !important;
    height: 10rem !important;
  }

  .new_group {
    margin-left: 1rem !important;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 1.2rem !important;
  }

  .group_input {
    width: 24rem !important;
    background: #282c37;
    margin-bottom: 1rem !important;
    height: 3rem !important;
    padding: 1rem !important;
    border-width: 1px;
    border-radius: 10px;
    border-color: white;
    font-family: "Raleway", sans-serif;
    color: white;
  }

  .group_input:focus {
    outline: 0;
  }
  input[type="file"] {
    display: none;
    font-family: "Raleway", sans-serif;
  }
  .group_name {
    font-family: "Raleway", sans-serif;
    margin-top: 0.8rem !important;
    margin-left: -6rem !important;
    margin-right: 1rem !important;
    position: absolute;
  }
  .group_nickname {
    font-family: "Raleway", sans-serif;
    margin-top: 0.9rem !important;
    margin-left: -6rem !important;
    margin-right: 1rem !important;
    position: absolute;
  }
  .group_description {
    font-family: "Raleway", sans-serif;
    margin-top: 0.7rem !important;
    margin-left: -6rem !important;
    margin-right: 1rem !important;
    position: absolute;
  }
  .profile_avatar {
    width: 158px;
    height: 158px;
    position: inherit;
    border: none;
  }

  .group_logo {
    font-family: "Raleway", sans-serif;
    margin-top: 4.6rem !important;
    margin-left: -30rem !important;
    position: absolute;
  }

  .group_background {
    font-family: "Raleway", sans-serif;
    margin-top: 0.2rem !important;
    margin-left: -6rem !important;
    position: absolute;
  }
  .create {
    margin-top: 0.7rem !important;
    margin-left: -6rem !important;
    background: transparent;
    color: white;
    width: 30rem !important;
    height: 3rem !important;
    border-radius: 13px;
    font-family: "Raleway", sans-serif;
  }
}
