

em {
    font-style: normal;
}

a {
    /*text-decoration: none;*/
    /*color: inherit;*/
}

.s-layout {
    display: flex;
    width: 240px;
    min-height: 450px;
    /*background-color: #282c37;*/
    /*border-radius: 10px;*/
}

.s-layout__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}



.s-sidebar__nav {
    position: absolute;
    /*right: 38px;*/
    top: 30px;
    margin-right: 30px;
    overflow: hidden;
    transition: all .3s ease-in;
    height: 500px;
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus {
    /*right: 0;*/
}

.s-sidebar__nav ul {
    position: absolute;
    top: 1.3em;
    right: -15px;
    margin-right: 20px;
    padding: 0;
    width: 13em;
    /*border-radius: 10px;*/
}

/*.s-sidebar__nav ul li {*/
/*    width: 100%;*/
/*}*/

.s-sidebar__nav-link {
    margin-bottom: 5px;
    font-size: 15px;
    color: #9aadc7;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 4em;
    background-color: #282c37;
    border-bottom: white 1px solid;
    /*border-radius: 10px;*/
    text-align: end;
}

.s-sidebar__nav-link em {
    position: absolute;
    top: 50%;
    right: 4em;
    transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
    background: #4d6276;
    color: black;
}


.s-sidebar__nav-link > i {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 4em;
    height: 4em;
}

.s-sidebar__nav-link > i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 12em) {
    .s-layout__content {
        margin-left: 4em;
    }

    .s-sidebar__nav{
        width: 60px;
        /*right: -12px;*/
        right: 10%;
    }


}

@media (min-width: 72em) {
    .s-layout__content {
        margin-left: 15em;
    }

    .s-sidebar__nav {
        right: 0px;
        width: 18em;
    }

    .s-sidebar__nav ul {
        top: 1.3em;
    }
}

.sideList {
    width: 223px !important;
    /*list-style: none;*/
}

/*@media all and (max-width: 650px) {*/
/*    .s-sidebar__nav {*/
/*        display: none;*/
/*    }*/
/*}*/

