.m-enable-permission {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.m-enable-permission__link{
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
}

.m-enable-permission__close {
    width: fit-content;
    align-self: flex-end;
}

.m-enable-permission__text {
    font-size: 18px;
}