

.form-group {
    margin-bottom: auto;
    margin-top: auto;
}

.button-add-photo .btn-tertiary{
    color:#555;
    width: 100%;
    margin:auto;
    display:block;
    border:2px solid #555;
}
.button-add-photo .btn-tertiary:hover,.example-2 .btn-tertiary:focus{
    color:#888;
    border-color:#888
}
.button-add-photo .input-file{
    width:.1px;
    height:.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index:-1}
.button-add-photo .input-file + .js-labelFile{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding:0 10px;
    cursor:pointer
}
.button-add-photo .input-file + .js-labelFile .icon:before{
    content:"\f093"
}
.button-add-photo .input-file + .js-labelFile.has-file .icon:before{
    content:"\f00c";color:#5AAC7B
}

.button-add-post {
    border-radius: 50%;
    border: 3px solid #282c37;
    object-fit: cover;
    margin: auto 2%;
}

.add-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.add-button {
    width: 100%;
    border-radius: 100%;
    opacity: .4;
}
.add-button:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

label {
    cursor: default;
    margin-bottom: auto;
    margin-top: auto;
}

.form-group {
    margin-left: 8%;
}

.images-upload {
    background: #282c37;
}


.add-photo {
    width: 100%;
}

.add-photo img {
    width: 100%;
}

.button-add-photo {
    width: 6%;
    margin-top: 0;
    margin-left: 4%;
}
