// .home-page {
//   .bording {
//     position: fixed;
//     top: 10px;
//     width: 55%;
//     background: #D8CFCF;
//     height: 700px;
//     position: relative;
//   }

//   h1 {
//     margin: auto;
//   }
// }