.topnav {
  padding-bottom: 2%;
  padding-top: 2%;
  overflow: hidden;
  display: flex;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
}

.search-container {
  /*float: right;
  padding-bottom: 2%;*/
  float: right;
  padding-bottom: 2%;
  width: 90%;
}

.topnav input[type=text] {
  padding: 10px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 87.1%;
}

.search-box-news {
  width: 50%;
}

.buttons-news {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.buttons-news button {
  margin-right: 2%;
  margin-left: 2%;
}


.topnav .search-container button {
  float: right;
  padding: 10px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

form .form-input {
  background: #5AAC7B;
}

.news-btn {
  border-top: #282c37;
  border-right: #282c37;
  border-left: #282c37;
}

button.square_btn .news-btn .all-news {
  background: #d9e1e8;
  color: #282c37;
}

button.square_btn .news-btn .top-news {
  background: #d9e1e8;
  color: #282c37;
}

.news-btn:hover {
  background: #d9e1e8;
  color: #282c37;
}


.news-btn:focus {
  background: #d9e1e8;
  color: #282c37;
}


@media screen and (max-width: 1230px) {
  .top-search-form {
    display: flex;
  }
}

@media screen and (max-width: 1150px) {
  .top-search-form {
    display: flex;
  }

  .logo {
    width: 100px;
  }

  .info {
    width: calc(100% - 100px);
  }
}

@media all and (max-width: 650px) {
  .home-page .home-container {
    padding-top: 65px !important;
  }

  .home-aside-menu {
    display: none;
  }
  .profileContent {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.mobile-menu {
  display: none;
}


@media all and (max-width: 650px) {
  .home-page {
    .mobile-menu {
      position: fixed;
      top: 0;
      z-index: 111;
      width: 100%;
      background: black;
      border-bottom: 1px solid #fff;
      left: 0;
      right: 0;
      height: 63px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .profileHeader {
      display: none;
    }

    .home-container {
      padding-top: 58px;
    }

    .mobile-menu_buttons {

    }

    .mobile-menu__button {
      text-align: center;
      height: 35px;
      color: #fff;
      font-weight: bold;
      border: 1px solid #cacaca;
      background: #000000;
      width: 95px;
      margin-right: 20px;
      border-radius: 40px;
    }

    .mobile-menu__button:first-child {

    }

    .bottom-news {
      width: 90% !important;
      margin: 0 auto 20px auto !important;
    }

    .show-more {
      width: 100%;
    }
  }

}

@media all and (max-width: 500px) {
  .home-page {
    .new-post {
      position: relative;
      flex-direction: column;
    }

    .info-about-user {
      position: absolute;
      top: 9px;
      right: 0;
      width: calc(100% - 100px);
    }

    .post {
      width: 95%;
    }

    .info {
      width: 100% !important;
    }

    .date {
      display: none;
    }

    .logo-user img {
      height: 70px;
      width: 70px;
    }

  }

}
