
.poll-container {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 1%;
}

.form-poll {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 90%;
}

.input-choice {
    margin-top: 2%;
    margin-bottom: 2%;
}

.input-with-dot {
    display: flex;
    flex-direction: row;
}

.button-add-choice {
    background: #2b90d9;
    padding-top: 0;
    margin-left: 87%;
    margin-right: 3%;
    padding-right: 2%;
    padding-left: 2%;
}
/*
.btn-secondary {
    color: #fff;
    background-color: #444;
    border-color: #444;
    width: 120%;
}*/

.poll {
    padding-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}


.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

