.uploadLogo {
  @import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
  .fileInput {
    border-bottom: 4px solid lightgray;
    border-right: 4px solid lightgray;
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
  }

  .imgPreview {
    text-align: center;
    margin: 5px 15px;
    height: 200px;
    width: 500px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
  }
  img {
    width: 100%;
    height: 100%;
  }

  .previewText {
    width: 100%;
    margin-top: 20px;
  }

  .submitButton {
    padding: 12px;
    margin-left: 73px;
    background: transparent;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: 10pt;
    cursor: pointer;
    color: white;
    font-family: "Raleway", sans-serif;
  }

  .submitButton:hover {
    background: #282c35;
  }

  .centerText {
    text-align: center;
    width: 500px;
  }

  .uploadPhoto {
    height: 2rem !important;
    padding-bottom: 0.2rem !important;
    padding-top: 0.5rem !important;
    padding-right: 1.2rem !important;
    padding-left: 1.2rem !important;
    margin-left: 4.7rem !important;
    margin-right: 1rem !important;
    margin-bottom: 1.5rem !important;
    background: #282c35;
    font-family: "Raleway", sans-serif;
  }
}
