.pb-cmnt-container {
    font-family: Lato;
    /*margin-top: 100px;*/
    margin-bottom: 20px;
}

.pb-cmnt-textarea {
    border-radius: 18px;
    resize: none;
    padding: 10px;
    height: 40px;
    width: 100%;
    border: 1px solid #F2F2F2;
    word-wrap: break-word;
}

.pb-cmnt-textarea.unlogged {
    color: #9aadc7;
}

.shareComment {
    margin-bottom: 5px;
}

.profile-page .ul-comments {
    width: 100%;
}


.loadMoreButton{
    background-color: #383c47;
    /*border-bottom: 1px black solid;*/
    /*border-right: 1px black solid;*/
    /*border-left: 1px black solid;*/
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #9aadc7;
}

.loadMoreButtonDiv{
    width: 100%;
}

.listOfComments{
    transition: 2s;
}