div {
  border: 0px;
}

.header {
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-channel {
  width: 18%;
}

.error {
  color: #d8000c;
  border-color: #d8000c;
  border-width: 0.1em;
}

.channel-alert {
  background-color: rgba(204, 0, 102, 0.3);
}

.conversation-is-online{
  width: 30px;
  height: 30px;
  position: absolute;
  left: -40px;
  top: 25px;
  border-radius: 50%;
  border: 3px solid green;
}

.conversation-is-online.online {
  background: green;
}
