.follow-button{
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
    transition: width 1s;
    font-size: 16px;
}

.follow-button:hover {
    background-color: #3f4550;
}