@media all and (max-width: 650px) {
    .chat > .list-of-pages{
        display: none;
    }
    .pt-4{
        right: 14px;
        top: -5px;
    }

    .chat-input{
        width: 100%;
        margin-bottom: 10px;
        height: 40px;
    }

    .hat-button{
        margin-bottom: 20px;
    }
}