.groupList-page {
  .group-page {
    background: #131419;
    padding: 30px;
  }

  .group_item {
    margin-left: 0.1em !important;
    margin-top: -0.5em !important;
    width: 1.5em !important;
    font-size: 1.5em !important;
    position: absolute;
  }

  .groupHeader {
    color: white;
    background-color: #419bdd;
    height: 5em !important;
  }

  .groups_area {
    margin-top: 3.2em !important;
    width: 66em !important;
    height: 96%;
    max-height: 87%;
    display: inline-block;
    position: inherit;
    flex-direction: column;
  }

  .profileHeader {
    color: white;
    background-color: #131419;
  }

  #group_name {
    margin-top: -0.1em !important;
    margin-left: 3.2rem !important;
    font-size: 2.2em !important;
    position: absolute;
  }

  .profile_info {
    margin-top: 1.6rem !important;
    margin-left: -4.5rem !important;
  }

  .buttonTrue {
    content: "Follow";
  }

  .buttonFalse {
    content: "Unfollow";
    visibility: visible;
  }

  .mt-4,
  .my-4 {
    margin-left: 12.5rem !important;
  }

  .group-link,
  .group-link:hover {
    text-decoration: none;
  }

  .listOfPages {
    margin-top: -0.5rem !important;
    padding-top: 20rem !important;
    margin-bottom: 19rem !important;
    height: 33.5rem !important;
  }
}
