.imageLord {
  width: 5%;
  height: 5%;
  border: none;
  // color:#2C0E5E;
}
.likeDiv {
  margin-top: 0%;
  margin-left: 10%;
  margin-bottom: 1%;
}

.buttonForLord {
  height: 10px;
  width: 95px;
}

.buttonForLike {
  height: 20px;
  border-radius: 10px;
  padding-top: 0%;
  margin-left: -5%;
  border: none;
}
.pForAll {
  margin-right: -7%;
}

.imageLord {
  margin-top: 1.5%;
  outline: none;
  margin-left: 3%;
  height: 40px;
  width: 40px;
}
.showingLikes {
  margin-top: -14.5%;
  margin-left: 10px;
}
.listOfUsers {
  margin-top: 5px;
  font-size: 20px;
}
.listForLikes {
  margin-bottom: 20px;
}

.imageLord img {
  width: 100%;
}
.noLikesYet {
  margin-left: 0;
}
