
.button-vote {
    margin-right: 70%;
    background: transparent;
    border: none;
    color: #f1f1f1;
    font-size: 11pt;
    margin-bottom: 1%;
    margin-top: 1%;
}



.choice-vote {
    margin-bottom: 1%;
    margin-top: 2%;
    flex-direction: row;
    padding-left: 3%;
}

.percent-text {

}

.line-vote {
    margin-left: 7%;
    margin-top: -4.3%;
}

.percents {
    flex-direction: column;
    width: 100%;
    padding-right: 3%;
}

.poll-percents {

}

.poll-quesion {
    width: 100%;
    margin-top: 0;
    margin-left: 1%;
    font-size: 13pt;
}

.my-poll-line {
    border: none; /* Убираем границу */
   background-color: #2b90d9; /* Цвет линии */
    color: #2b90d9; /* Цвет линии для IE6-7 */
    height: 5px; /* Толщина линии */
    margin-left: 0;

}


.choices-vote {
    padding-bottom: 4%;
    margin-top: 2%;
    flex-direction: row;
}

.button-click {
    margin-top: 0;
    margin-right: 2%;
    width: 98%;

}

.percents {

}

.choice-vote {
    margin-top: 1%;
    flex-direction: row;
}

.choice-vote  :hover {
    background-color: #2b90d9;
}

.choice-vote .line-vote :hover {
    background-color: transparent;
}


.poll-percents {
    background: #383f4d;
    padding-top: 3%;
}

.button_close_delete {
    background: transparent;
    margin-left: 92%;
    color: #f1f1f1;
    border: #f1f1f1 solid 2px;
}

.all-vote {
    color: #939393;
    margin-left: 85%;
}
