.mainDivForRepost{
    margin-left:3%;
    margin-top: 4px;
}
.imageRepost{
    width:6%;
    outline:none;
  border: none;
  border-radius: 5px;
  position: relative;
  top: 0px;
  transition: all ease 0.3s;
}
.imageRepost:active { 
    background-color: #282c37;
    top: 3px;
  }