.group-page {
  @import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

  .groupHeight {
    min-height: 300px;
  }

  .backgroundProfileImg {
    width: 100%;
    min-height: 300px;
  }

  .backgroundProfileImgDiv {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  .profileHeader {
    color: white;
    background-color: #282c37;
  }

  .postsToggle1 {
    margin-top: -0.5rem !important;
    margin-left: -4.5rem !important;
  }

  .group_avatar_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -68px;
    border-radius: 50%;
    border: #282c37 7px solid;
    margin-left: 15px;
    overflow: hidden;
    background: no-repeat center;
  }

  .profile_logo_col {
    height: 90px;
  }

  .group_logo {
    width: 100%;
    height: 100%;
  }

  .name {
    margin-top: 2.6rem !important;
    margin-left: -4.5rem !important;
    color: #d9e1e8;
    font-size: 1.2rem !important;
    font-family: "Raleway", sans-serif;
  }

  .group_nickname {
    margin-top: 0.6rem !important;
    margin-left: -4.5rem !important;
    color: #d9e1e8;
    font-size: 1rem !important;
    font-family: "Raleway", sans-serif;
  }

  .hr_style {
    color: white;
    border-color: #131419;
    border-width: 2px;
    width: 58rem !important;
    margin-left: -4.5rem !important;
    margin-top: 2rem !important;
  }

  .group_description {
    margin-top: 2.6rem !important;
    margin-left: -4.5rem !important;
    margin-bottom: 2rem !important;
    font-size: 0.8rem !important;
    color: #d9e1e8;
    font-family: "Raleway", sans-serif;
    text-align: justify;
  }

  .settings {
    margin-top: 6rem !important;
    margin-left: 17.5rem !important;
    background: #282c37;
    border: none;
  }

  .settings_icon {
    height: 20px;
  }

  .follow {
    margin-top: 3.5rem !important;
    margin-left: 14rem !important;
    width: 5.5rem !important;
    background: transparent;
    border-width: 2px;
    border-color: white;
    border-radius: 17px;
    color: white;
    font-family: "Raleway", sans-serif;
  }

  .hidden_button {
    display: none;
  }

  .edit_button {
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
    transition: width 1s;
    font-size: 16px;
    margin-left: 11.5rem !important;
    margin-top: 2.5rem !important;
    font-family: "Raleway", sans-serif;
  }

  .edit_button:focus {
    outline: 0;
  }

  .edit_button:active {
    outline: 0;
  }

  .navText {
    border: none;
    background-color: transparent;
  }

  .navText:hover {
    cursor: pointer;
  }

  ul.nav.nav-tabs {
    color: #9aadc7;
  }

  a.nav-link {
    transition: 0.5s;
  }

  .navigation {
    margin-bottom: 25px;
    height: 60rem !important;
  }
}
