form{
    margin: 10px;
  }
      
  .search-box{
    display: flex;
    margin: 15px;
    font-family: Roboto;
    font-size: 18px;
    max-width: 200px;
    min-width: 190px;
    height: 40px;
    
    margin-top:-5px;
  }
    .textbox{
      min-width: 100%;
      border: 1px solid #bbb;
      border-right: 0;
      border-radius: 3px 0 0 3px;
    }
      .searchLike{
        width: 100%;
        border: 0;
        padding: 8px 10px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        outline: none;
        background: transparent;
      }
      searchLike:focus{
        background: #fff;
      }
    .search-button{
      display: inline-flex;
      border: none;
      background: #42afe3;
      color: #fff;
      padding: 0 10px;
      border-radius: 0 3px 3px 0;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;
      border: 3px solid #42afe3;
      font-size: 14px;
      cursor: pointer;
    }
      .iconSearch{
        display: inline-block;
        background: url('https://www.google.com.au/images/nav_logo242.png') no-repeat -107px -55px;
        width: 24px;
        height: 24px;
        margin: 0 auto;
      }
      
      .search-button:hover{
        background: #4281e3;
        border: 3px solid #4281e3;
      }