.list-images {
  margin-top: -5px;
  max-width: 540px;
  display: flex;
  max-height: 400px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

$numbers: 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten';

@for $i from 1 through 4 {
  .list-images.#{nth($numbers, $i)} {
    @for $photoCount from 1 through $i {
      .element .#{nth($numbers, $photoCount)} {
        @if($photoCount <= 4) {
          @if ($photoCount % 2 == 1) {
            img {
              width: 300px;
              height: 300px;
              object-fit: cover;
              margin: 1px;
            }
          } @else {
            img {
              width: 300 / $photoCount px;
              object-fit: cover;
              margin: 1px;
              @if ($photoCount == 4) {
                height: 150px;
              } @else {
                height: 300px;
              }
            }
          }
        } @else {

        }
      }
    }
  }
}

