.heading {
    display: block;
    margin-left: 95%;
    position: relative;
}

a.delete-image {
    right: 6px;
    top: 4px;
    padding-right: 1px;
    padding-left: 1px;
    color: #3F3F3F;
    background: #3F3F3F;
    opacity: 0.2;
    font-size: 16pt;
    position: absolute;
}



a.delete-image:hover {
    color: white;
    transition: 1s;
    transform: scale(1.2);
    /*background: #3F3F3F;
    opacity: 0.2;*/
}


.image img {
    position: relative;
}


.list-images {
    margin-top: -5px;
    max-width: 540px;
    display: flex;
    max-height: 400px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.divj {
    display: flex;
}

/*
.previewComponent {
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    background: #282c37;
    /*80%
    width: 90%;
    margin: 5%;*/


/*1111111111111111111111*/
.list-images.one .one img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.list-images.one {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}

/*222222222222222222222222222222222222*/

.list-images.two .element .one img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 1px;
}


.list-images.two .element .two  img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 1px;
}

.list-images.two {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}


/*333333333333333333333333333333333333333333333*/

.list-images.three .element .one img {
    width: 266px;
    height: 302px;
    object-fit: cover;
    margin: 1px;
}

.list-images.three .element .two img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    margin: 1px;
}

.list-images.three .element .three img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    margin: 1px;
}


.list-images.three {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}

.list-images.three .element .one {
    display: flex;
    flex-direction: row;
}


.list-images.three .element .two, .three {
    display: flex;
    flex-direction: column;
}


/*44444444444*/
.list-images.four .element .one img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    margin: 1px;
}


.list-images.four .element .two img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    margin: 1px;
}


.list-images.four .element .three  img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    margin: 1px;
}


.list-images.four .element .four img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    margin: 1px;
}

.list-images.four {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}


.list-images.four .element .one, .two {
    display: flex;
    flex-direction: row;
}

.list-images.four .element .three, .four {
    display: flex;
    flex-direction: row;
}


/*555555555555555*/

.list-images.five .element .one img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    margin: 1px;
}

.list-images.five .element .two img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    margin: 1px;
}


.list-images.five .element .three img {
    width: 166px;
    height: 150px;
    object-fit: cover;
    margin: 1px;
}

.list-images.five .element .four img {
    width: 166px;
    height: 150px;
    object-fit: cover;
    margin: 1px;
}


.list-images.five .element .five img {
    width: 166px;
    height: 150px;
    object-fit: cover;
    margin: 1px;
}


.list-images.five {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}


.list-images.five .element .one, .two {
    display: flex;
    flex-direction: row;
}

.list-images.five .element .three, .four, .five {
    display: flex;
    flex-direction: row;
}

/*666666666666*/

.list-images.six .element .one img {
    width: 252px;
    height: 175px;
    object-fit: cover;
    margin: 1px;
}

.list-images.six .element .two img {
    width: 252px;
    height: 175px;
    object-fit: cover;
    margin: 1px;
}


.list-images.six .element .three img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    margin: 1px;
}

.list-images.six .element .four img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    margin: 1px;
}


.list-images.six .element .five img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    margin: 1px;
}


.list-images.six .element .six img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    margin: 1px;
}


.list-images.six {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}


.list-images.six .element .one, .two {
    display: flex;
    flex-direction: row;
}

.list-images.six .element .three, .four, .five, .six {
    display: flex;
    flex-direction: row;
}

/*77777777777777777*/


.list-images.seven .element .one img {
    width: 253px;
    height: 200px;
    margin: 1px;
    object-fit: cover;
}

.list-images.seven .element .two img {
    width: 253px;
    height: 200px;
    margin: 1px;
    object-fit: cover;
}


.list-images.seven .element .three img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 1px;
}

.list-images.seven .element .four img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 1px;
}

.list-images.seven .element .five img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 1px;
}

.list-images.seven .element .six img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 1px;
}

.list-images.seven .element .seven img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 1px;
}



.list-images.seven {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}


.list-images.seven .element .one, .two {
    display: flex;
    flex-direction: row;
}

.list-images.seven .element .three, .four, .five, .six, .seven {
    display: flex;
    flex-direction: row;
}

/*88888888888888888888888888888888888888888888*/


.list-images.eight .element .one img {
    width: 253px;
    height: 217px;
    object-fit: cover;
    margin: 1px;
}

.list-images.eight .element .two img {
    width: 253px;
    height: 217px;
    object-fit: cover;
    margin: 1px;
}


.list-images.eight .element .three img {
    width: 83px;
    height: 83px;
    object-fit: cover;
    margin: 1px;
}

.list-images.eight .element .four img {
    width: 83px;
    height: 83px;
    object-fit: cover;
    margin: 1px;
}

.list-images.eight .element .five img {
    width: 83px;
    height: 83px;
    object-fit: cover;
    margin: 1px;
}

.list-images.eight .element .six img {
    width: 83px;
    height: 83px;
    object-fit: cover;
    margin: 1px;
}

.list-images.eight .element .seven img {
    width: 83px;
    height: 83px;
    object-fit: cover;
    margin: 1px;
}

.list-images.eight .element .eight img {
    width: 83px;
    height: 83px;
    object-fit: cover;
    margin: 1px;
}


.list-images.eight {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}


.list-images.eight .element .one, .two {
    display: flex;
    flex-direction: row;
}

.list-images.eight .element .three, .four, .five, .six, .seven, .eight {
    display: flex;
    flex-direction: row;
}

/*9999999999999999999999999999999*/

.list-images.nine .element .one img {
    width: 254px;
    height: 229px;
    object-fit: cover;
    margin: 1px;
}

.list-images.nine .element .two img {
    width: 254px;
    height: 229px;
    object-fit: cover;
    margin: 1px;
}


.list-images.nine .element .three img {
    width: 71px;
    height: 71px;
    object-fit: cover;
    margin: 1px;
}

.list-images.nine .element .four img {
    width: 71px;
    height: 71px;
    object-fit: cover;
    margin: 1px;
}

.list-images.nine .element .five img {
    width: 71px;
    height: 71px;
    object-fit: cover;
    margin: 1px;
}

.list-images.nine .element .six img {
    width: 71px;
    height: 71px;
    object-fit: cover;
    margin: 1px;
}

.list-images.nine .element .seven img {
    width: 71px;
    height: 71px;
    object-fit: cover;
    margin: 1px;
}

.list-images.nine .element .eight img {
    width: 71px;
    height: 71px;
    object-fit: cover;
    margin: 1px;
}

.list-images.nine .element .nine img {
    width: 71px;
    height: 71px;
    object-fit: cover;
    margin: 1px;
}

.list-images.nine {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}


.list-images.nine .element .one, .two {
    display: flex;
    flex-direction: row;
}

.list-images.nine .element .three, .four, .five, .six, .seven, .eight, .nine {
    display: flex;
    flex-direction: row;
}

/*1101010101010101010*/

.list-images.ten .element .one img {
    width: 258px;
    height: 237px;
    object-fit: cover;
    margin: 1px;
}

.list-images.ten .element .two img {
    width: 258px;
    height: 237px;
    object-fit: cover;
    margin: 1px;
}


.list-images.ten .element .three img {
    width: 63px;
    height: 63px;
    object-fit: cover;
    margin: 1px;
}

.list-images.ten .element .four img {
    width: 63px;
    height: 63px;
    object-fit: cover;
    margin: 1px;
}

.list-images.ten .element .five img {
    width: 63px;
    height: 63px;
    object-fit: cover;
    margin: 1px;
}

.list-images.ten .element .six img {
    width: 63px;
    height: 63px;
    object-fit: cover;
    margin: 1px;
}

.list-images.ten .element .seven img {
    width: 63px;
    height: 63px;
    object-fit: cover;
    margin: 1px;
}

.list-images.ten .element .eight img {
    width: 63px;
    height: 63px;
    object-fit: cover;
    margin: 1px;
}

.list-images.ten .element .nine img {
    width: 63px;
    height: 63px;
    object-fit: cover;
    margin: 1px;
}

.list-images.ten .element .ten img {
    width: 63px;
    height: 63px;
    object-fit: cover;
    margin: 1px;
}


.list-images.ten {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}


.list-images.ten .element .one, .two {
    display: flex;
    flex-direction: row;
}

.list-images.ten .element .three, .four, .five, .six, .seven, .eight, .nine, .ten {
    display: flex;
    flex-direction: row;
}
